body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.205), rgba(62, 20, 20, 0.281)), url(SC.jpg);
    background-size: cover;
    background-position: center;
}

h1, h3, h4 {
    color: white;
}

h2.map-pool-title {
    color: black;
    font-weight: 600;
    text-align: center;
}

h2.map-pool-card {
    color: black;
    font-weight: 600;
}

h1,h2,h3,h4,h5,h6,p {
    display:block;
    width: 100%;
}

.voteBox {
	background-color:#ddd;
	padding:20px;
}

.votes p,
.votes h5  {
	text-align: center;
}
.center {
	margin: 0 auto;
}

.animation {
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1)

}

@-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.selectedMaps {
    background-color: rgb(255, 255, 255);
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid grey;
}